<div class="container p-5">
    <div class="card-group">
       <div *ngIf="productos.category == 'despensa'"   class="card" style="width: 40rem" *ngFor="let producto of productos">
           <img class="card-img-top" [src]="producto.image" alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">{{producto.name}}</h5>
           <p class="card-text">{{producto.price | currency:'CLP':'symbol'}}</p>
           <button type="button"  class="btn btn-primary" (click)="addToCart(producto)" ><i class="bi bi-cart-plus-fill">  Agregar al carrito</i></button>
         </div>
       </div>
    </div>
</div>