<!-- Footer -->
<footer  class="text-center text-lg-start bg-warning text-muted">
    <!-- Section: Social media -->
    <section class="...">
      <!-- Left -->
      
      <!-- Left -->
  
      <!-- Right -->
      
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                <img class="img-nav" src="../../../assets/img/superG4.svg" alt="">
              <i class="fas fa-gem me-3"></i>Super G4
            </h6>
            <p>
                
                Somos Supermercado G4, tu destino de compras para una experiencia de compra inigualable. Nuestro compromiso es ofrecerte una amplia variedad de productos frescos y de calidad, a precios competitivos. 
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              <ul>
                <button type="button" class="btn btn-link text-uppercase fw-bold mb-4 text-reset" >
                  <a class="nav-link" routerLink="nosotras">Sobre nosotras</a> 
                </button>
              </ul>
            </h6> 
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              ¿Necesitas ayuda?
            </h6>
            <p>
              <a href="#!" class="text-reset">Preguntas frecuentas</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Devoluciones y cambios</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Trabaja con nosotros</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Consulta tu boleta</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3"></i> Simón Bolivar 440,Ñuñoa,Stgo.</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@superg4.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 56 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 56 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      <app-reloj></app-reloj> © 2023 Copyright 
       <!--<a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

