<div class="container my-4 bg-warning py-3 rounded">
    <div class="row">
        <div class="col-md-6">
            <h1>Lista de Productos</h1>
            <p>{{ mensaje }}</p>
        </div>
        <div class="col-md-6 text-end align-middle">
            <button class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear nuevo registro" [routerLink]="['/lista-productos/formulario']">
                <span class="fs-1">
                    <fa-icon [icon]="faAddProduct"></fa-icon>
                </span>
            </button>
        </div>
    </div> 
</div>
<div *ngIf="productos.length > 0; else NoHayProductos" class="container my-4">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="bg-warning">
                <tr class="text-center">
                    <th >ID</th>
                    <th >Nombre</th>
                    <th >Categoria</th>
                    <th >Precio</th>
                    <th >Stock</th>
                    <th >Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td class="text-center">{{producto.idProduct}}</td>
                    <td class="text-center">{{producto.name}}</td>
                    <td class="text-center">{{producto.category}}</td>
                    <td class="text-center">{{producto.price | currency:'CLP':'symbol'}}</td>
                    <td class="text-center">{{producto.stock}}</td>
                    <td class="text-center"><img [width]="50" [src]="producto.image" /></td>
                    <td>
                        <div class="row">
                            <div class="col-md-6 text-center" routerLinkActive="active">
                                <button routerLink="/lista-productos/formulario" class="btn btn-warning mb-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar">
                                    <span class="fs-5">
                                        <fa-icon [icon]="faEditPerson"></fa-icon>
                                    </span>
                                </button>
                            </div>
                            <div class="col-md-6 text-center">
                                <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar" (click)="deleteProduct(producto)">
                                    <span class="fs-5">
                                        <fa-icon [icon]="faDeletePerson"></fa-icon>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #NoHayProductos>
    <div class="container my-4 py-3 rounded">
        <div class="card">
            <div class="card-header text-center">
                <span class="text-warning fs-1">
                    <fa-icon [icon]="faExclamation"></fa-icon>
                </span>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">{{ mensaje }}</h5>
            </div>
        </div>
    </div>
</ng-template>